{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{topic.title}} - mccpy{% endblock%}
{% block content %}
<div class="ui inverted segment" id="post_header" style="clear:both;">
	<h5 style="float:right; text-align: right;margin: 0px 0px 0px 0px;"><i class="calendar icon"></i>{{topic.published_date}}</br>
		<a href="/"><i class="write icon" style="margin-top:5px;"></i>mccpy</a>
	</h5>
	<h2 style="display: inline;">{{topic.title}}</h2>
	{% if user.is_authenticated %}
		<a href="{% url 'post_edit' plink=topic.link %}"><i class="write icon"></i></a>
		{% if not topic.published_date %}<a href="{% url 'post_publish' plink=topic.link %}"><i class="unhide icon"></i></a>
		{% endif %}
	{% endif %}
</div>
<div class="ui black segment">
	{{topic.text | safe }}
</div>
{% endblock %}